services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=User
      - MONGO_INITDB_ROOT_PASSWORD=Test123!
      - MONGO_INITDB_DATABASE=Aggregations
  aggregation-service:
    build:
      context: ./
      dockerfile: ./MongoTrainings.Aggregation/Dockerfile
    depends_on:
      mongo:
        condition: service_started
    networks:
      - mongo
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "5000:5000"
      - "5001:5001"
networks:
  mongo: